" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

set clipboard+=unnamed
set peekaboo
set ideajoin
set NERDTree
set which-key
set notimeout
set guicursor=n-v-c:block,i-ci-ve:ver25
Plug 'tpope/vim-surround'
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Long range motion with s + two characters
Plug 'justinmk/vim-sneak'

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Clear search highlighting with return
nnoremap <Return> :nohlsearch<cr>

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

set number rnu

" nnoremap <SPACE> <Nop>

:let mapleader = " "


nnoremap <c-z> :action ToggleDistractionFreeMode<CR>

" Splitting shortcuts

nnoremap <leader>\| :action SplitVertically<CR>
nnoremap <leader>- :action SplitHorizontally<CR>
nnoremap <leader>= :action Unsplit<CR>

" files and searching
nnoremap <leader><leader> :action SearchEverywhere<CR>
nnoremap <leader>ff :action SearchEverywhere<CR>

nnoremap <leader>fb :action Switcher<CR>
nnoremap <leader>, :action RecentLocations<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>sg :action FindInPath<CR>
nnoremap <leader>/ :action FindInPath<CR>
nnoremap <leader>fe :NERDTree<CR>
nnoremap <leader>e :NERDTree<CR>

" buffers and tabs
nnoremap <leader>bn :action NextTab<CR>
nnoremap <leader>bp :action PreviousTab<CR>

nnoremap <leader>bd :action CloseContent<CR>
nnoremap <leader>wq :action CloseAllEditors<CR>
nnoremap <leader>wo :action UnsplitAll<CR>
nnoremap <leader>bo :action CloseAllEditorsButActive<CR>
nnoremap <leader>ba :action CloseAllEditors<CR>

" Easier navigation between panes
nnoremap <leader>wh <C-w>h
nnoremap <M-h> <C-w>h
nnoremap <leader>wj <C-w>j
nnoremap <M-j> <C-w>j
nnoremap <leader>wk <C-w>k
nnoremap <M-k> <C-w>k
nnoremap <leader>wl <C-w>l
nnoremap <M-l> <C-w>l

" Moving code around vim style
" Move code using h/j/k/l rather than IntelliJ's keybindings that uses arrow keys

map <A-S-j> <Action>(MoveStatementDown)
map <A-S-k> <Action>(MoveStatementUp)


" Terminal

nnoremap <C-/> :action ActivateTerminalToolWindow<CR>


" code actions
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>cd :action ShowErrorDescription<CR>
nnoremap <leader>cf :action ReformatCode<CR>
nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>cm :action Move<CR>

" Lsp navigation - is that working??
nnoremap gd :action GotoDeclaration<CR>
nnoremap gy :action GotoTypeDeclaration<CR>

" Next / previous navigation
nnoremap ]m :action MethodDown<CR>
nnoremap [m :action MethodUp<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap ]h :action VcsShowNextChangeMarker<CR>
nnoremap [h :action VcsShowPrevChangeMarker<CR>

" Git mappings
nnoremap <leader>gg :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>gb :action Annotate<CR>
nnoremap <leader>gc :action CheckinProject<CR>
nnoremap <leader>gp :action Vcs.Push<CR>
nnoremap <leader>gd :action Compare.SameVersion<CR>
nnoremap <leader>gs :action Vcs.Show.Local.Changes<CR>
nnoremap <leader>gl :action Vcs.Show.Log<CR>
" Rollback hunk under cursor
nnoremap <leader>ghr :action Vcs.RollbackChangedLines<CR>
nnoremap <leader>ghR :action ChangesView.Revert<CR>


" I would like that to be "show references" but Idea works a bit differently and GotoDeclaration is contextual,
"  so it will show references when appropriate. Find usages is not convenient enough because it opens a panel.
nnoremap gr :action GotoDeclaration<CR>
nnoremap <leader>uz :action ToggleZenMode<CR>
nnoremap <leader>uZ :action MaximizeEditorInSplit<CR>

" Debugging

nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>dc :action Debug<CR>
nnoremap <leader>du :action UiDebugger<CR>

" Running
" Similar to Overseer Run from my Neovim keybinds
nnoremap <leader>or :action RunAnything<CR>
nnoremap <leader>oc :action RunClass<CR>

" Surround - add mappings to make it also work like mini.surround (with g prefix - to not conflict with sneak)

let g:WhichKeyDesc_surround = "gs  Surround"
let g:WhichKeyDesc_surround_add = "gsa  Add surrounding"
let g:WhichKeyDesc_surround_delete = "gsd  Delete surrounding"
let g:WhichKeyDesc_surround_replace = "gsr  Replace surrounding"

nmap gsa ys
vmap gsa S

" Delete surrounding - 'sd' (mini.surround uses 'sd{char}')
nmap gsd ds

" Replace surrounding - 'sr' (mini.surround uses 'sr{old}{new}')
nmap gsr cs

" Add surrounding to current line (like 'saa' in mini.surround)
nmap gsaa yss

" Add surrounding to word (like 'saw' in mini.surround for current word)
nmap gsaw ysiw
